# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
.idea/
Models/0_knowledge_concept.csv
Models/10_knowledge_concept.csv
Models/11_knowledge_concept.csv
Models/12_knowledge_concept.csv
Models/13_knowledge_concept.csv
Models/14_knowledge_concept.csv
Models/15_knowledge_concept.csv
Models/16_knowledge_concept.csv
Models/17_knowledge_concept.csv
Models/18_knowledge_concept.csv
Models/19_knowledge_concept.csv
Models/1_knowledge_concept.csv
Models/20_knowledge_concept.csv
Models/21_knowledge_concept.csv
Models/22_knowledge_concept.csv
Models/23_knowledge_concept.csv
Models/24_knowledge_concept.csv
Models/25_knowledge_concept.csv
Models/26_knowledge_concept.csv
Models/2_knowledge_concept.csv
Models/3_knowledge_concept.csv
Models/4_knowledge_concept.csv
Models/5_knowledge_concept.csv
Models/6_knowledge_concept.csv
Models/7_knowledge_concept.csv
Models/8_knowledge_concept.csv
Models/9_knowledge_concept.csv
Models/__init__.py
knowledge_concept.csv
